body {
    background-color: #fff;
    font-family: Arial, san-serif;
}

body, a {
    color: #333;
}

h1 {
    text-align: center;
    margin: 5px 5px 50px 5px;
}

#demoContainer {
    max-width: 845px;
    margin: 0 auto;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px 15px 15px 15px;
}